@text-pc: #333;
@text-rc: #666;
@text-sc: #999;
@text-hc: #c0c4cc;

// 新版ui
@primary-color: #2b5fdc;

@red: #E62C3B;
@orange: #fa6a0a;
@green: #11bb43;
@grey: #CACED7;
@white: #fff;

@primary-bg: #E8F3FF;
@orange-bg: #FFF5E8;

@primary-hover: #4d7fe3;
@primary-active: #1b45b8;

// import variables from '@/assets/styles/variable.less';

// variables.red
:export {
  primary: @primary-color;
  red: @red;
  orange: @orange;
  green: @green;
  grey: @grey;
  primaryHover: @primary-hover;
  primaryBg: @primary-bg;
}